[submodule "apps/frontend"]
	path = apps/frontend
	url = git@github.com:NathanMarques2001/csapp-front.git
	branch = main
[submodule "apps/backend"]
	path = apps/backend
	url = git@github.com:NathanMarques2001/csapp-back.git
	branch = main
[submodule "apps/email"]
	path = apps/email
	url = git@github.com:NathanMarques2001/csapp-email.git
	branch = main
