# Configurações de Conexão com o Banco de Dados
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=sistema_gerenciamento_contratos

# Chave secreta de sessão da aplicação (Gere uma chave aleatória e segura)
SESSION_SECRET=

# Configurações de Login SSO da Microsoft
MS_IDENTITY_METADATA=https://login.microsoftonline.com/YOUR_TENANT_ID/v2.0/.well-known/openid-configuration
MS_CLIENT_ID=
MS_CLIENT_SECRET=
MS_RESPONSE_TYPE=code
MS_RESPONSE_MODE=form_post
MS_REDIRECT_URL=http://localhost:8080/api/usuarios/login-microsoft/callback
MS_SCOPE=profile openid email
